/* A's zone */

#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: white;
  text-align:center;
  color: white;
}

/* Loading画像中央配置  */
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定  */
#splash_logo img {
  width:260px;
}

/* fadeUpをするアイコンの動き */
.fadeUp {
  animation: fadeUpAnime .5s forwards;
  opacity: 0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.img-container {
  object-fit: cover; 
  position: relative;
}

.change-img1 {
  overflow: hidden;
  position: relative;
}

header {
  width: 100%;
  height: 100px;
  /* padding: 0 30px; */
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgb(204 204 204);

}

.posse_logo img {
  max-width: 130px;
  vertical-align: middle;
  object-fit: cover;
}

.change_color {
  /* background-color: yellow; */
}


h1 {
  padding-left: 30px;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
}

/* 以下、ハンバーガーボタン */
.burger_btn{
  display: block;      
  width: 39px;      
  height: 39px;      
  position: relative;      
  z-index: 3;
  border:none;   
  margin-right: 30px;
  background-color: #fff;
  /* padding-right: 10px; */
}    
.bar{      
  width: 20px;      
  height: 2px;        
  display: block;      
  position: absolute;      
  left: 50%;      
  transform: translateX(-50%);      
  background-color: skyblue;    
}    
.bar_top{   
  top: 15px;
}
.bar_mid{    
  top: 50%;
  transform: translate(-50%,-50%);
}
.bar_bottom{
  bottom: 15px;
}

.burger_btn.close {
  background-color: skyblue; 
}

.burger_btn.close .bar_top{      
  transform: translate(-50%,3px) rotate(45deg);      
  transition: transform .7s; 
  background-color: snow;
}    
.burger_btn.close .bar_mid{      
  opacity: 0;       
  transition: opacity .7s;    
}    
.burger_btn.close .bar_bottom{      
transform: translate(-50%,-5px) rotate(-45deg);      
transition: transform .7s; 
  background-color: snow;
}

  /* 以下、ハンバーガーメニュー */
.nav_wrapper {
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	transform: translateX(100%);
	transition: transform .3s;
	width: 100vw;
	z-index: 2; /*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
}  
.header_nav{        
  width: 100%;        
  height: 100%;        
  background-color:skyblue;        
  z-index: 2;      
}     
.nav_list{    
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;    
  position: absolute;        
  top: 50%;        
  left: 50%;        
  transform: translate(-50%,-50%);        
}      
.nav_item{        
  text-align: center;      
  margin-bottom: 40px;  
}

.nav_item  a {
  text-decoration: none;
  color: white;
}


/* メニューオープン時 */
.nav_wrapper.fade {
	visibility: visible;
	opacity: 1;
}

.noscroll{
  overflow: hidden;
}

.nav_wrapper.slide_in {
	transform: translateX(0);
}

.list {
padding-top: 150px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
/* margin: 5px; */
}

.list li {
    width: 23%;
    overflow: hidden;
    /* margin: 0 8px 10px; */
}

#id01 {
width: 100%;
height: 100%;
/* opacity: 0.5; */
display: none;
}

.members_a {
  margin-bottom: 3vw;
}


.img_container {
overflow: hidden;
}

.member_img_a {
width:100%;
height: 23vw;
border-radius: 50%;
position:relative;
object-fit: cover;
margin-bottom: 2vw;
transition:1s all;
}

/* .img-container{
  position: relative;
  width: 25%;
}
li:before{
  content: "";
  display: block;
  padding-top: 100%;
}
img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
} */

.member_img_a:hover {
  /* transform:scale(1.4,1.4) rotate(20deg); */
  transition:1s all;
box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

/* :nth-child(3n) {
background-color: #fff;
  border-radius: 30% 0 ;
} */
/* li:nth-child(1) {
  border-radius: 0 50% 0 0;
} */

/* .members_a:nth-child(3n) {
border-radius: 50% 0;
} */

.members_a a {
  text-decoration: none;
  color: black;
}

/* lflflflf */
/* 
.container{
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
} */

.list {
  flex-wrap: wrap;
  margin: 0px 20px;
  display: flex;
  position: relative;
  z-index: 100;
}

.list li.is-hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  /* margin: 0 10px; */
  /* padding:0; */
}
.more {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.more button {
  background-color: #5C6BC0;
  border: none;
  cursor: pointer;
  outline: none;
  color:#fff;
  padding: 0;
  line-height: 40px;
  width: 160px;
  border-radius: 20px;
}

.name_a {
  margin-top: 1vw;
  text-align: center;
  font-size: 2vw;
}

.prize_a {
  text-align: center;
}

/* 
.members-a a {
width: 100%;
height: 100%;
} */








/* B's zone */



/* C's zone */



/* D's zone */