/* A's zone */

 /* .members_a:nth-child(2){
  animation: bgchange 10s ease infinite;
}

@keyframes bgchange{
      0%   {background: pink;}
      25%  {background:rgb(130, 141, 145);
            filter: blur(0px);}
      50%  {background:black;
            filter: blur(4px);}
      70%  {background: rgba(red, green, blue, alpha);}
      85%  {background:rgb(200 104 54);} 
      100% {background:pink;}
 } */

#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: white;
  text-align:center;
  color: white;
}

/* Loading画像中央配置  */
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定  */
#splash_logo img {
  width:260px;
}

/* fadeUpをするアイコンの動き */
.fadeUp {
  animation: fadeUpAnime .5s forwards;
  opacity: 0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.img-container {
  object-fit: cover; 
  position: relative;
}

.change-img1 {
  overflow: hidden;
  position: relative;
}

/*********** header開始 ************/

.all-header {
  display: flex;
  justify-content: center;
  background: white;
  position: fixed;
  width: 100%;
  height: 96px;
  z-index: 100;
  box-shadow: 3px 3px 3px rgb(204 204 204);
}

.site-header {
  display: flex;
  align-items: center;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  height: 96px;
}

.posselogo img {
  max-width: 130px;
  vertical-align: middle;
  object-fit: cover;
}

.menu-content {
  margin-right: 10px;
}

.topmenu {
  justify-content: center;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  flex-grow: 1;
}

/* ヘッダー内の文字に触れた時 */
.header-list a:hover {
  background-color: skyblue;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}

/* ヘッダー内文字 */
.header-list a {
    text-decoration: none;
    color: black;
    padding: 0 1vw;
    white-space: nowrap;
}


/* ハンバーガーメニュー非表示 */
.menu-btn {
  display: none;
}

.linelogo img {
  vertical-align: middle;
  max-width: 120px;
}

.linelogo:hover {
  filter: hue-rotate(279deg);
}

@media screen and (max-width : 1100px) {
  .topmenu {
    font-size: 18px;
  }
}

@media screen and (max-width : 1000px) {
  .topmenu {
    font-size: 16px;
  }
}

@media screen and (max-width : 960px) {
  .topmenu {
    font-size: 14px;
  }

  .linelogo img {
    width: 90px;
  }

  .posselogo img {
    width: 110px;
  }
}

@media screen and (max-width : 768px) {
  * {
    float: none;
    position: static;  
  }
  
  .site-header {
    width: 100%;
  }
  
  .menu-btn {
    display: block;
    position: relative;
    cursor: pointer;
    width: 100px;
    height:50px;
    left: 0;
    border: 0;
    order: -1;
    padding-right: 10px;
    z-index: 500;
  }
  
  /*ボタン内側*/
  .menu-btn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: skyblue;
    width: 60%;
  }
  
  .menu-btn span:nth-of-type(1) {
    top:15px; 
  }
  
  .menu-btn span:nth-of-type(2) {
    top:23px;
  }
  
  .menu-btn span:nth-of-type(3) {
    top:31px;
  }
  
  /*activeクラスが付与されると線が回転して×に*/
  .menu-btn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 60%;
  }
  
  .menu-btn.active span:nth-of-type(2) {
    opacity: 0;/*真ん中の線は透過*/
  }
  
  .menu-btn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 60%;
  }
  
  .posselogo {
  position: relative;
  top: 0;
  margin-left: 3vw;
  }

  .posselogo img {
    width: 130px;
  }

  .menu-content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  } 

  .menu-content ul li {
    border-bottom: solid 1px #fff;
    list-style: none;
  }

  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#fff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }

  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }
  
  .topmenu {
    display: flex;
    flex-direction: column;
    background-color: #3584bb;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -5000px;
    left: 0;
    transition: .4s;
  }

  .topmenu.active {
    position: absolute;
    top: 0;
    margin-bottom: 10px;
  }
  
  /* ヘッダーの各々の項目 */
  .header-list{ 
    margin: 15px;
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;
  }
  
  /* ヘッダーLINEロゴ */
  .linelogo {
    width: 60vw;
    margin-right: 10px;
  }

  .linelogo img {
    width: 170px;
  }
}

/************* header終了 *************/

.list {
padding-top: 150px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
/* margin: 5px; */
}

.list li {
    width: 23%;
    overflow: hidden;
    /* margin: 0 8px 10px; */
}

#id01 {
width: 100%;
height: 100%;
/* opacity: 0.5; */
display: none;
}

.members_a {
  margin-bottom: 3vw;
  transition-duration: 1s;
}

.members_a:hover {
  box-shadow: 3px 3px 3px 3px skyblue, -3px -3px 3px 3px skyblue;
}

.img_container {
overflow: hidden;
}

.member_img_a {
width:100%;
height: 23vw;
border-radius: 50%;
position:relative;
object-fit: cover;
margin-bottom: 2vw;
transition:1s all;
}


.member_img_a:hover {
  transform:scale(1.4,1.4) rotate(20deg);
  opacity: 0.5;
  /* color: white; */
  transition:1s all;
box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

@media screen and (max-width: 599px) {
  .list li {
    width: 45%;
  }
  .member_img_a {
    height: 43vw;
  }
}

/* .img-container{
  position: relative;
  width: 25%;
}
li:before{
  content: "";
  display: block;
  padding-top: 100%;
}
img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
} */


/* :nth-child(3n) {
background-color: #fff;
  border-radius: 30% 0 ;
} */
/* li:nth-child(1) {
  border-radius: 0 50% 0 0;
} */

/* .members_a:nth-child(3n) {
border-radius: 50% 0;
} */

.members_a a {
  text-decoration: none;
  color: black;
}

/* lflflflf */
/* 
.container{
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
} */

.list {
  flex-wrap: wrap;
  margin: 0px 20px;
  display: flex;
  position: relative;
  z-index: 99;
}

.list li.is-hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  /* margin: 0 10px; */
  /* padding:0; */
}
.more {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  /* padding-bottom: 200px; */
  position: relative;
  /* height: 300px; */
}
.more button {
  background-color: #5C6BC0;
  border: none;
  cursor: pointer;
  outline: none;
  color:#fff;
  padding: 0;
  line-height: 40px;
  width: 160px;
  border-radius: 20px;
}

.name_a {
  margin-top: 1vw;
  text-align: center;
  font-size: 2vw;
}

.prize_a {
  text-align: center;
}

.change_color {
  color:yellow;
}


.wave{
/* margin-top: 400px; */
height: 200px;
position:relative;
/* height:200px;何も表示されない場合は各波の親要素に高さを持たせましょう。 */
}

canvas{
position: absolute;
bottom: 0;
left:0;
width: 100%;
z-index: -1;
}

.wave p {
  position: absolute;
  color: white;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%,-50%);}

/* 
.members-a a {
width: 100%;
height: 100%;
} */








/* B's zone */



/* C's zone */

/* 一覧のcss */
.members_C{
  display: flex;
  flex-wrap: wrap;
}
.member_C{
  width: 23%;
  overflow: hidden;
  margin: 0 8px 10px;
  text-decoration: none;
  color: black;
}
.member_img_wrap_C{
  position: relative;
  overflow: hidden;
  padding-top: 60%;
  margin: 10px;
}
.member_img_C{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 23vw;
  object-fit: cover;
}
@media screen and (min-width: 750px) {
  .member_C {
      width: 23%;
  }
}
@media screen and (max-width: 750px) {
  .member_C {
      flex-basis: 47%;
  }
}

/* 1_C.htmlのcss */
.detail_title{
  padding: 120px 20px 20px 20px;
}
.detail_contents{
  display: flex;
  /* flex-wrap: wrap; */
}
@media screen and (min-width: 700px) {
  .detail_contents{
    margin-left: 5%;
    width: 80%;
  }
  .detail_img{
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}
@media screen and (max-width: 700px) {
  .detail_contents{
    /* display: flex; */
    flex-wrap: wrap;
  }
  .detail_contents{
    margin-left: 5%;
    width: 90%;
  }
  .detail_img{
    width: 600px;
    height: 600px;
    object-fit: cover;
  }
}

.detail_text, 
.detail_price,
.detail_info{
  margin: 30px;
}
.detail_text{
  font-size: 20px;
}

/* D's zone */