/* A's zone */



/* B's zone */



/* C's zone */

.members_C{
    display: flex;
    flex-wrap: wrap;
}
.member_C{
    margin: 10px;
}
@media screen and (min-width: 750px) {
    .member_C {
        width: 23%;
    }
}
@media screen and (max-width: 750px) {
    .member_C {
        width: 47%;
    }
}



/* D's zone */