/* A's zone */



/* B's zone */



/* C's zone */

.members_C{
    display: flex;
    flex-wrap: wrap;
}
.member_C{
    flex-basis: 23%;

}
.member_img_wrap_C{
    position: relative;
    overflow: hidden;
    padding-top: 60%;
    margin: 10px;
}
.member_img_C{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 750px) {
    .member_C {
        width: 23%;
    }
}
@media screen and (max-width: 750px) {
    .member_C {
        flex-basis: 47%;
    }
}

.detail_title{
    margin: 20px;
}
.detail_contents{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 700px) {
    .detail_contents{
        width: 70%;
    }
    .detail_img{
        width: 50%;
    }
}
@media screen and (max-width: 700px) {
    .detail_contents{
        width: 100%;
    }
    .detail_img{
        width: 100%;
    }
}

.detail_text, 
.detail_price,
.detail_info{
    margin: 30px;
}


/* D's zone */